In [10]:
import pandas as pd
import statsmodels.formula.api as sm

Location="PhilsFishFactoryData.xlsx"
df=pd.read_excel(Location)

df.head()

   Unnamed: 0  Day  Wholesale Price ($/lb)  # Lobsters sold
0         NaN  Fri                     7.0                4
1         NaN  sat                     4.0               29
2         NaN  Sun                     6.5               18
3         NaN  Mon                     5.0               17
4         NaN  Tue                     4.0               25

In [11]:
df =df.dropna(axis=1, how='all')
df.head()

   Day  Wholesale Price ($/lb)  # Lobsters sold
0  Fri                     7.0                4
1  sat                     4.0               29
2  Sun                     6.5               18
3  Mon                     5.0               17
4  Tue                     4.0               25

In [6]:
tolower?

Object `tolower` not found.

In [15]:
def day_to_num(day):
    day = str.lower(day)
    num = 0
    if day == 'sun':
        num = 1
    elif day == 'mon':
        num = 2
    elif day == 'tue':
        num = 3
    elif day == 'wed':
        num = 4
    elif day == 'thur':
        num = 5
    elif day == 'fri':
        num = 6
    elif day == 'sat':
        num = 7
    return num
#df['DayNum']=day_to_num(df['Day'])
df['DayNum']=df['Day'].apply(day_to_num)
headers =list(df.columns.values)
headers[1]='Price'
headers[2]='Num_Sold'
df.columns=headers
#df['Price']=df['Wholesale Price ($/lb)']
#df['Sold']=df['# Lobsters sold']
df.head()

   Day  Price  Num_Sold  DayNum
0  Fri    7.0         4       6
1  sat    4.0        29       7
2  Sun    6.5        18       1
3  Mon    5.0        17       2
4  Tue    4.0        25       3

In [16]:
df.corr()

             Price  Num_Sold    DayNum
Price     1.000000 -0.627493  0.062190
Num_Sold -0.627493  1.000000 -0.250974
DayNum    0.062190 -0.250974  1.000000

In [23]:
result = sm.ols(formula='Num_Sold ~ Price -1', data=df).fit()
result.summary()

/home/nbuser/anaconda3_501/lib/python3.6/site-packages/scipy/stats/stats.py:1334: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=14
  "anyway, n=%i" % int(n))

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               Num_Sold   R-squared:                       0.586
Model:                            OLS   Adj. R-squared:                  0.554
Method:                 Least Squares   F-statistic:                     18.39
Date:                Mon, 01 Oct 2018   Prob (F-statistic):           0.000882
Time:                        21:07:55   Log-Likelihood:                -54.659
No. Observations:                  14   AIC:                             111.3
Df Residuals:                      13   BIC:                             112.0
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Price          2.6398      0.616      4.288      0.001       1.310       3.970
==============================================================================
Omnibus:                        2.105   Durbin-Watson:                   1.938
Prob(Omnibus):                  0.349   Jarque-Bera (JB):                0.948
Skew:                          -0.049   Prob(JB):                        0.623
Kurtosis:                       1.729   Cond. No.                         1.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [21]:
df

     Day  Price  Num_Sold  DayNum
0    Fri    7.0         4       6
1    sat    4.0        29       7
2    Sun    6.5        18       1
3    Mon    5.0        17       2
4    Tue    4.0        25       3
5    Wed    3.5        28       4
6   Thur    4.5        16       5
7    Fri    7.0         4       6
8    Sat    6.0        13       7
9    Sun    5.5        23       1
10   Mon    6.5         8       2
11   Tue    4.0        29       3
12   Wed    2.5         9       4
13  Thur    7.0         6       5